@font-face {
  font-family: "Coustard";
  src: url("/font/Coustard.ttf");
  font-display: swap;
}
@font-face {
  font-family: "UnifrakturMaguntia";
  src: url("/font/UnifrakturMaguntia.ttf");
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif';
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url("/font/Wreg0Be4tcFGM2t6VWytvKpkxQ1nyBMhaPnv_ZMXNdQ.woff2") format('woff2');
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-size: 1.1rem;
  font-family: 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
  line-height: 1.65;
  padding: 0 1em;
  display: flex;
  flex-flow: column;
  align-items: space-between;
}
.go-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 0;
  bottom: -3em;
  width: 3em;
  pointer-events: none;
}
.go-to-top {
  position: fixed;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 3rem);
  display: inline-block;
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
main,
.search-items {
  flex: 1;
}
main {
  position: relative;
}
::selection {
  background: #666;
  color: #fff;
}
::-moz-selection {
  background: #666;
  color: #fff;
}
::-webkit-selection {
  background: #666;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
  }
  ::selection {
    background: #ccc;
    color: #333;
  }
  ::-moz-selection {
    background: #ccc;
    color: #333;
  }
  ::-webkit-selection {
    background: #ccc;
    color: #333;
  }
}
.header > * {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .title {
  text-decoration: none;
  font-weight: 200;
  font-size: 2.5em;
  color: #333;
  font-family: UnifrakturMaguntia;
  font-display: swap;
  border-bottom: 1px dotted #ccc;
}
.header .motto {
  font-family: Coustard !important;
  font-display: swap;
  font-size: 0.4em;
  font-weight: 500;
  margin: 1em 0;
}
.header .navbar {
  font-family: Coustard !important;
  font-display: swap;
  margin-bottom: 2em;
}
.header .navbar .menu {
  margin: 0;
  padding: 0;
  text-align: center;
}
.header .navbar .menu .menu-item {
  display: inline-block;
  padding: 0.4em 0.8em;
}
.header .navbar .menu .menu-item .menu-item-link {
  font-size: 0.8em;
  text-decoration: none;
  color: #333;
}
.header .navbar .menu .menu-item .menu-item-link:hover {
  color: #9c9c9c;
}
.header .navbar .menu .menu-item .search-icon {
  font-size: 0.6em;
}
.header .navbar .menu .menu-item .search-input {
  font-family: Coustard !important;
  font-display: swap;
  border: none !important;
  font-size: 0.8em;
  color: #333;
  text-align: center;
}
.header .navbar .menu .menu-item .search-input::-ms-input-placeholder {
  text-align: center;
}
.header .navbar .menu .menu-item .search-input::-webkit-input-placeholder {
  text-align: center;
}
.header .navbar .menu .menu-item .search-input:focus {
  outline: none !important;
}
@media (prefers-color-scheme: dark) {
  .header .title {
    color: #ccc;
    border-bottom: 1px dotted #666;
  }
  .header .navbar .menu .menu-item .menu-item-link {
    color: #ccc;
  }
  .header .navbar .menu .menu-item .search-input {
    color: #ccc;
  }
}
.post {
  margin-bottom: 2em;
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  box-shadow: 0 0 12px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.05);
}
.post > * {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.post .title {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc;
  text-decoration: none;
  color: #333;
  font-weight: 900;
  margin-bottom: 0.3em;
}
.post a.title:hover {
  color: #666;
}
.post .content {
  display: block;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc;
  text-align: justify;
  margin: 2em 0;
}
.post .content h1 {
  font-size: 1.8em;
}
.post .content a:link,
.post .content a:active,
.post .content a:visited {
  color: #666;
  padding: 0.1em;
}
.post .content a:hover {
  opacity: 0.8;
  color: #9c9c9c;
}
.post .content * {
  word-break: normal !important;
  word-wrap: break-word !important;
}
.post .content p {
  word-break: normal;
  word-wrap: break-word;
}
.post .content svg {
  max-width: 100%;
}
.post .content body {
  font-size: 1em;
  font-family: 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc;
  text-align: justify;
  line-height: 1.5;
  background-color: #fff;
  padding: 2em 0;
}
.post .content h1,
.post .content h2,
.post .content h3,
.post .content h4,
.post .content h5,
.post .content h6 {
  color: #333;
  border-bottom: 1px solid #6c7a89;
  font-weight: 900;
}
.post .content blockquote {
  border-left: 0.4em solid #6c7a89;
  background-color: #f7f9fa;
  padding: 0.3em 0.5em 0.3em 1em;
  margin: 0.5em 0 0.5em 0;
}
.post .content h1 .headerlink {
  text-decoration: none;
}
.post .content h1 .headerlink::before {
  content: '#';
}
.post .content h2 .headerlink {
  text-decoration: none;
}
.post .content h2 .headerlink::before {
  content: '#';
}
.post .content h3 .headerlink {
  text-decoration: none;
}
.post .content h3 .headerlink::before {
  content: '#';
}
.post .content *:not(pre) code {
  padding: 0.1em 0.2em;
  margin: 0.2em;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 2px;
  color: #555;
  font-size: 0.9em;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace !important;
  background-color: #eee !important;
}
.post .content a:link,
.post .content a:active,
.post .content a:visited {
  color: #666;
}
.post .content a:hover {
  color: #6c7a89;
}
.post .content pre {
  display: block;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: auto;
  padding: 0.6em;
  margin: 0 2px;
  color: #555;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background-color: #eee;
}
.post .content pre code {
  display: block;
  word-wrap: break-word;
  word-break: break-all;
  background-color: inherit;
  border: none !important;
  font-size: 0.9em;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace !important;
  background-color: #eee !important;
}
.post .content hr {
  border: none;
  border-bottom: 2px dashed #ccc;
}
.post .content sup a {
  padding: 0 !important;
  font-style: normal !important;
}
.post .content table {
  border-collapse: collapse;
  background-color: #f8f9f9;
}
.post .content tr,
.post .content td,
.post .content th {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0.3em 0.5em;
}
.post .content tr:nth-child(even) {
  background-color: #ebedef;
}
@media (prefers-color-scheme: dark) {
  .post .content blockquote {
    background-color: #252525;
  }
  .post .content h1,
  .post .content h2,
  .post .content h3,
  .post .content h4,
  .post .content h5,
  .post .content h6 {
    color: #ccc;
    border-bottom: 1px solid #666;
  }
  .post .content hr {
    border: none;
    border-bottom: 2px dashed #666;
  }
  .post .content table {
    background-color: inherit;
  }
  .post .content tr,
  .post .content td,
  .post .content th {
    border: 1px solid #666;
  }
  .post .content tr:nth-child(even) {
    background-color: #202020;
  }
  .post .content pre code,
  .post .content *:not(pre) code,
  .post .content pre {
    color: #ccc;
    background-color: #303030 !important;
  }
  .post .content a:hover {
    color: #9c9c9c;
  }
  .post .content a:link,
  .post .content a:active,
  .post .content a:visited {
    color: #ccc;
  }
}
.post .content img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}
.post .continue a {
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
  font-size: 0.7em;
  color: #666;
}
.post .continue a:hover {
  color: #9c9c9c;
}
.more {
  font-size: 0.7em;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80em;
  margin: 0 auto;
}
.more .space {
  flex: 50%;
}
.more a {
  display: flex;
  text-decoration: none;
  color: #666;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.more a:hover {
  color: #9c9c9c;
}
.more .prev a {
  display: block;
}
.more .next a {
  text-align: right;
  display: block;
}
a#more {
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  .post {
    box-shadow: 0 0 12px rgba(255,255,255,0.05);
    -moz-box-shadow: 0 0 12px rgba(255,255,255,0.05);
    -webkit-box-shadow: 0 0 12px rgba(255,255,255,0.05);
  }
  .post .title {
    color: #ccc;
  }
  .post .continue a {
    border-bottom: 1px dotted #666;
    color: #ccc;
  }
  .post .continue a:hover {
    color: #9c9c9c;
  }
  .more a {
    color: #ccc;
    border-bottom: 1px dotted #666;
  }
  .more a:hover {
    color: #9c9c9c;
  }
}
.archive > * {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
}
.archive .post-archive .year {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin: 1em;
}
.archive .post-archive .post-item {
  padding: 0.2em 0;
  list-style-type: square;
  display: flex;
  justify-content: space-between;
}
.archive .post-archive .post-item .date {
  margin-right: 1em;
  white-space: nowrap;
}
.archive .post-archive .post-item .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: right;
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
@media (prefers-color-scheme: dark) {
  .archive > * {
    color: #ccc;
  }
  .archive .post-archive .post-item .title {
    color: #ccc;
    border-bottom: 1px dotted #666;
  }
}
.page-nav {
  text-align: center;
  font-size: 0.7em;
  font-family: 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc;
  padding: 0.5em;
  margin: 5em 0;
  font-weight: 700;
}
.page-nav > * {
  margin-right: 0.5em;
  padding: 0.5em;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
.page-nav a:active,
.page-nav a:link,
.page-nav a:visited {
  color: #6c7a89;
}
.page-nav .current {
  color: #333;
}
@media (prefers-color-scheme: dark) {
  .page-nav > * {
    border-bottom: 1px dotted #666;
  }
  .page-nav a:active,
  .page-nav a:link,
  .page-nav a:visited {
    color: #ccc;
  }
  .page-nav .current {
    color: #888;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
.footer .footer-copyright {
  font-size: 0.6em;
}
.footer .footer-copyright .link {
  color: #666;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  .footer .footer-copyright .link {
    color: #ccc;
  }
}
.intro {
  font-size: 0.8em;
}
.base {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.base .avastar {
  align-self: center;
  width: 6em;
  height: 6em;
  border-radius: 100%;
}
.base .name {
  align-self: center;
  margin-top: 0.5em;
}
.base .fields {
  align-self: center;
}
.sns {
  display: flex;
  justify-content: center;
}
.sns .sns-items {
  padding: 0;
}
.sns .sns-items .sns-list-item {
  margin-left: 0.3em;
  align-items: center;
  list-style-type: none;
  display: inline-block;
}
.sns .sns-items .sns-list-item .fa {
  font-size: 1.2em;
  text-decoration: none;
}
.category .category-list {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}
.category .category-list .category-list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.category .category-list .category-list-item .category-list-link {
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
.category .category-list .category-list-item .category-list-link:link,
.category .category-list .category-list-item .category-list-link:active,
.category .category-list .category-list-item .category-list-link:visited {
  color: #666;
}
@media (prefers-color-scheme: dark) {
  .category .category-list .category-list-item .category-list-link {
    border-bottom: 1px dotted #666;
  }
  .category .category-list .category-list-item .category-list-link:link,
  .category .category-list .category-list-item .category-list-link:active,
  .category .category-list .category-list-item .category-list-link:visited {
    color: #ccc;
  }
}
.tag .tag-list {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}
.tag .tag-list .tag-list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.tag .tag-list .tag-list-item .tag-list-link {
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
.tag .tag-list .tag-list-item .tag-list-link:link,
.tag .tag-list .tag-list-item .tag-list-link:active,
.tag .tag-list .tag-list-item .tag-list-link:visited {
  color: #666;
}
@media (prefers-color-scheme: dark) {
  .tag .tag-list .tag-list-item .tag-list-link {
    border-bottom: 1px dotted #666;
  }
  .tag .tag-list .tag-list-item .tag-list-link:link,
  .tag .tag-list .tag-list-item .tag-list-link:active,
  .tag .tag-list .tag-list-item .tag-list-link:visited {
    color: #ccc;
  }
}
.copyright {
  overflow: hidden;
  flex-direction: column;
  display: flex;
  padding: 1em;
  font-size: 0.8em;
  font-family: 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc;
  border-left: 8px solid #6c7a89;
  margin: 0.5em 0 !important;
  margin-top: 3em !important;
  background-color: #f8f9f9;
}
.copyright * {
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}
.copyright a:link,
.copyright a:visited {
  color: #666;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  .copyright {
    background-color: #252525;
  }
}
.meta {
  margin: 1em;
}
.meta > * {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  color: #666;
  margin-right: 0.5em;
}
.meta .date {
  white-space: nowrap;
}
.meta .category-list {
  white-space: nowrap;
}
.meta .category-list .category-list-item {
  display: inline-block;
  margin-right: 0.3em;
  white-space: nowrap;
}
.meta .category-list .category-list-item .category-list-link {
  text-decoration: none;
  color: #666;
}
.meta .category-list .category-list-item .category-list-link:hover {
  color: #9c9c9c;
}
.meta .tag-list {
  white-space: pre-wrap;
}
.meta .tag-list .tag-list-item {
  white-space: pre-wrap;
  display: inline-block;
  margin-right: 0.5em;
  word-wrap: normal;
}
.meta .tag-list .tag-list-item .tag-list-link {
  text-decoration: none;
  color: #666;
}
.meta .tag-list .tag-list-item .tag-list-link:hover {
  color: #9c9c9c;
}
@media (prefers-color-scheme: dark) {
  .meta > * {
    color: #ccc;
  }
  .meta .category-list .category-list-item .category-list-link {
    color: #ccc;
  }
  .meta .category-list .category-list-item .category-list-link:hover {
    color: #9c9c9c;
  }
  .meta .tag-list .tag-list-item .tag-list-link {
    color: #ccc;
  }
  .meta .tag-list .tag-list-item .tag-list-link:hover {
    color: #9c9c9c;
  }
}
.tip {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tip button {
  align-self: center;
  background-color: #6c7a89;
  border: none;
  color: #fff;
  font-size: 0.8em;
  padding: 0.4em 0.9em;
  border-radius: 0.3em;
  font-weight: 400;
  outline: none;
}
.tip button:active {
  opacity: 0.9;
  -moz-box-shadow: 2px 2px 2px #ddd; /* 老的 Firefox */
  box-shadow: 2px 2px 2px #ddd;
}
.tip .tip-img {
  align-self: center;
  width: 100%;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: none;
}
.tip ul {
  width: 100%;
  height: 100%;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  list-style: none;
}
.tip ul li {
  list-style-type: none;
  display: inline;
  padding: 1em;
}
.tip ul li img {
  width: 100%;
  height: 100%;
  max-width: 16em;
  max-height: 16em;
}
