.copyright{
  overflow:hidden
  flex-direction:column
  display:flex  
  padding: 1em
  font-size: .8em
  font-family: 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
  border-left: 8px solid  regular-blue
  margin: .5em 0 !important
  margin-top:3em!important
  background-color: #f8f9f9
  *{
    overflow: hidden
    word-break: break-all
    white-space:normal;
  }
  a:link,a:visited{
    color: regular-grey
    text-decoration: none
  }
}

@media (prefers-color-scheme: dark) {
  .copyright {
    background-color: #252525
  }
}