.footer{
    display:flex
    justify-content: center
    align-items: center;
    color: light-color
    padding-top: 2em
    padding-bottom: 2em
    .footer-copyright{
        font-size: .6em
        color: light-color
        .link{
            color:blue-color
            text-decoration: none    
        }
    }    

}