.header{
  & > * {
    margin: 0
    padding: 0
      display: flex
      justify-content: center
    }
  .title{
    text-decoration: none
    font-weight: 200
    font-size: 2.5em
    color: regular-dark
    font-family: UnifrakturMaguntia;
    font-display: swap;
	  border-bottom: 1px dotted #ccc;
  }
  .motto{
    font-family: Coustard!important
    font-display: swap;
    font-size: .4em
    font-weight: 500
    margin: 1em 0
    }
  .navbar{
    font-family: Coustard!important
    font-display: swap;
    margin-bottom: 2em
    .menu{
      margin: 0
      padding: 0
      text-align: center
      .menu-item{
        display: inline-block
        padding: .4em .8em
        .menu-item-link{
          font-size: .8em
          text-decoration: none
          color: regular-dark
        }
        .menu-item-link:hover{
          color: regular-hover
        }
        .search-icon{
          font-size:.6em  
        }
        .search-input{
          font-family: Coustard!important
          font-display: swap;
          border: none !important
          font-size: .8em
          color: regular-dark
          text-align: center
          &::-ms-input-placeholder{text-align: center;} 
		      &::-webkit-input-placeholder{text-align: center;} 
        } 
        .search-input:focus{
          outline: none!important
        }
      } 
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header{
    .title{
      color: regular-light
	    border-bottom: 1px dotted regular-grey
    }
    .navbar{
      .menu{
        .menu-item{
          .menu-item-link{
            color: regular-light
          }
          .search-input{
            color: regular-light
          }
        } 
      }
    }
  }
}

