.post{
  margin-bottom: 2em
  max-width: 50em
  margin-left: auto
  margin-right: auto
  padding: 2em
  background-color: post-color
  box-shadow: 0 0 12px rgba(0,0,0,0.05)
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.05)
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.05)
  & > * {
    margin: 0
    padding: 0
    display: flex
    justify-content: center
  }
  .title{
    text-align: center;
    font-size: 1.5em  
    font-family: 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
    text-decoration: none
    color: regular-dark
    font-weight: 900
    margin-bottom: .3em
  }
  a.title:hover{
    color: regular-grey
  }

  .content{
    display:block 
    font-weight: 400
    font-size: 1em 
    font-family: 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
    text-align: justify;
    margin: 2em 0
    h1{
      font-size: 1.8em
    }
    a:link , a:active , a:visited{
      color: regular-grey
      padding: 0.1em
    }
    a:hover{
      opacity: .8
      color: regular-hover
    }
    *{
       word-break: normal!important;
      word-wrap: break-word!important;
    }
    p{
      word-break: normal
      word-wrap: break-word
    }
    svg{
      max-width: 100%;
    }
    strong {
      font-weight: 700;
    }
    //markdown语法设置
    @import "markdown";
    img{
      display:block
      margin: 1em auto
      max-width: 100%
    }
  }
    .continue a{
          &:hover{
        color: regular-hover
      }
      border-bottom: 1px dotted #ccc
      text-decoration: none
      font-size:.7em
      color: regular-grey
    }
  }


.more{
  font-size: .7em
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis
  max-width: 80em
  margin: 0 auto
  .space{
    flex: 50%;
  }
  & a{
    &:hover{
      color: regular-hover
    }
    display: flex
    text-decoration: none
    color: regular-grey
    border-bottom: 1px dotted #ccc
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis
  }
  .prev a {
    display: block
    } 
    .next a {
    text-align: right
    display: block
    }
}

a#more {
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  .post {
    background-color: post-color-night;
    box-shadow: 0 0 12px rgba(255,255,255,0.05)
    -moz-box-shadow: 0 0 12px rgba(255,255,255,0.05)
    -webkit-box-shadow: 0 0 12px rgba(255,255,255,0.05)
    .title{
      color: regular-light
    }
    .continue a{
      &:hover{
        color: regular-hover
      }
      border-bottom: 1px dotted regular-grey
      color: regular-light
    }
  }
  .more{
    & a{
      &:hover{
        color: regular-hover
      }
      color: regular-light
      border-bottom: 1px dotted regular-grey
    }
  }
}