back-color = #f9f9f9
post-color = #FFFFFF
back-color-night = #252525
post-color-night = #202020
regular-dark = #333
regular-grey = #666
regular-light = #ccc
regular-blue = #6c7a89
regular-hover = #9c9c9c


@font-face {
    font-family: "Coustard";
    src: url("/font/Coustard.ttf");
    font-display: swap;
}
@font-face {
    font-family: "UnifrakturMaguntia";
    src: url("/font/UnifrakturMaguntia.ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    font-weight: 700;
    src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(/font/Wreg0Be4tcFGM2t6VWytvKpkxQ1nyBMhaPnv_ZMXNdQ.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
    font-display: swap;
}

html{
    height: 100%
}
body{
    margin:0
    height: 100%
    font-size:1.1rem;
    background-color: back-color
    font-family: 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif, serif;
    line-height: 1.65;
    padding:0 1em;
    display:flex;
    flex-flow: column;
    align-items: space-between;
}

.go-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 0;
    bottom: -3em;
    width: 3em;
    pointer-events: none;
}

.go-to-top{
    position: fixed
    position: sticky;
    // reinstate clicks
    pointer-events: all;
    // achieves desired positioning within the viewport
    // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
    top: calc(100vh - 3rem);
    display: inline-block
    text-decoration: none
    color: regular-grey
    cursor: pointer
}

main,.search-items{
    flex:1
}

main {
    position: relative;
}

::selection {
background:regular-grey;
color:white
}
::-moz-selection {
    background:regular-grey; 
    color:white

}
::-webkit-selection {
    background:regular-grey; 
    color:white
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: back-color-night;
    }
    
    ::selection {
      background:regular-light;
      color: regular-dark
    }
    ::-moz-selection {
        background:regular-light; 
        color:regular-dark

    }
    ::-webkit-selection {
        background:regular-light; 
        color:regular-dark
    }
}



@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/footer";
@import "_partial/about";
@import "_partial/category";
@import "_partial/tag";
@import "_partial/copyright";
@import "_partial/meta";
@import "_partial/tip";